USE [master]
GO
/****** Object:  Database [TestTravel]    Script Date: 12/8/2020 1:35:09 PM ******/
CREATE DATABASE [TestTravel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestTravel', FILENAME = N'C:\Users\PD\TestTravel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestTravel_log', FILENAME = N'C:\Users\PD\TestTravel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestTravel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestTravel]
GO
/****** Object:  Table [dbo].[Agencies]    Script Date: 12/8/2020 1:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agencies](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[ContactInformation] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[LegalEntityInformation] [nvarchar](max) NULL,
 CONSTRAINT [PK_Agencies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgencyAgent]    Script Date: 12/8/2020 1:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgencyAgent](
	[AgenciesId] [uniqueidentifier] NOT NULL,
	[AgentsId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AgencyAgent] PRIMARY KEY CLUSTERED 
(
	[AgenciesId] ASC,
	[AgentsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 12/8/2020 1:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[ContactInformation] [nvarchar](max) NULL,
 CONSTRAINT [PK_Agents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AgencyAgent_AgentsId]    Script Date: 12/8/2020 1:35:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_AgencyAgent_AgentsId] ON [dbo].[AgencyAgent]
(
	[AgentsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AgencyAgent]  WITH CHECK ADD  CONSTRAINT [FK_AgencyAgent_Agencies_AgenciesId] FOREIGN KEY([AgenciesId])
REFERENCES [dbo].[Agencies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AgencyAgent] CHECK CONSTRAINT [FK_AgencyAgent_Agencies_AgenciesId]
GO
ALTER TABLE [dbo].[AgencyAgent]  WITH CHECK ADD  CONSTRAINT [FK_AgencyAgent_Agents_AgentsId] FOREIGN KEY([AgentsId])
REFERENCES [dbo].[Agents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AgencyAgent] CHECK CONSTRAINT [FK_AgencyAgent_Agents_AgentsId]
GO
USE [master]
GO
